<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nzlive">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".login.login" />
        <activity android:name=".login.register" />
        <activity android:name=".login.entry_pwd" />
        <activity android:name=".fragment.homePage.checkTheBed.KnowingActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.nzlive.fragment.homePage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".fragment.homePage.checkTheBed.TeacherActivity" />
        <activity android:name=".fragment.homePage.checkTheBed.KnowingRecordingActivity" />
        <activity android:name=".fragment.homePage.checkTheBed.TeacherRecordingActivity" />
        <activity android:name=".fragment.homePage.easyRepair.RepairActivity" />
        <activity android:name=".fragment.homePage.easyRepair.RepairScheduleActivity" />
        <activity android:name=".fragment.homePage.easyRepair.TeacherReviewActivity"></activity>
    </application>

</manifest>